.header-bar {
  width: 100%;
  position: fixed;
  background-color: var(--color-1);
  top: 0;
  left: 0;
  // border-bottom: 2px solid rgb(0, 0, 50);
  z-index: 9999
}

.header-backer {
  width: 100%;
  background-color: var(--color-1);
}

.header-text-big {
  position: relative;
  color: var(--color-4);
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}