<app-uni-wide-data-card [styleGroup]="1">
  <div class="row">
    <div class="col my-4 d-flex justify-content-center">
      <div>
        <h4>Beautifully Designed</h4>
        <p>We strive to always create the greatest products to blow your freaking mind.</p>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <img width="300vw" src="https://media.istockphoto.com/id/1164689038/vector/garbage-truck-on-a-white-background-waste-collection-vehicle.jpg?s=1024x1024&w=is&k=20&c=spOdEq1A5NNz88n7OsdvhCL8NbhoBXM4IIn2i8VqEb8=">
    </div>
  </div>
</app-uni-wide-data-card>
<app-uni-wide-data-card [styleGroup]="2">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <img width="220vw" src="https://cdn.vectorstock.com/i/1000x1000/62/82/landfill-pile-unsorted-garbage-flat-style-vector-32606282.webp">
    </div>
    <div class="col my-4 d-flex justify-content-center">
      <div>
        <h4>Unparalleled Garbage</h4>
        <p>Listen, you will not be able to comprehend the sheer quantity of absolute trash which spews from our gaping pie-holes.</p>
      </div>
    </div>
  </div>
</app-uni-wide-data-card>
<app-uni-wide-data-card [styleGroup]="1">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div>
        <h4>Try it out!</h4>
        <p>It's honestly staggering that you're still here. Did you not read what we just wrote? I guess add your own garbage here:</p>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div>
        Put the form here okay?
      </div>
    </div>
  </div>
</app-uni-wide-data-card>
